<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		<p>
			Поиск: <input ng-model="$ctrl.query">
		</p>
		</div>
		<div class="col-md-5">
			<ul class="phones">
				<li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query" class="thumbnail">
				<a href="#!/phones/{{phone.id}}" class="thumb">
					<img ng-src="{{phone.imageUrl}}" alt="{{phone.title}}" class="images_phone">
				</a>
					<a href="#!/phones/{{phone.id}}">{{phone.title}}</a>
					<a href="#!/phones/{{phone.id}}">{{phone.text}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>